{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "^@components/(.+)": "./src/components/\\1",
          "^@styles/(.+)": "./src/styles/\\1"
        }
      }
    ]
  ]
}

